body{
    background: #effabf;
    font-family: 'Roboto';
}
h1{
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    color: #7ab08e;
    text-align: center;
    margin: 50px 0px;
}
main{
    width: 100%;
}
.cartas{
    height: 360px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.cartas li{
    width: 120px;
    height: 150px;
    margin: 15px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #A7E9AF;
    border: 1px solid #7ab08e;
    background-image: url(../imagens/front.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}
.cartas img{
    width: 100%;
}
.cronometro{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #7ab08e;
    position: fixed;
    top: 0;
    right: 0;
}
