body{
    background: #effabf;
    font-family: 'Roboto';
}
h1{
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    color: #7ab08e;
    text-align: center;
    margin: 60px 0px;
}
.cartas{
    padding: 0px 100px;
    width: 100%;
    height: calc(100% - 160px);
}