body{
    background: #effabf;
    font-family: 'Roboto';
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    color: #7ab08e;
    text-align: center;
    margin: 60px 0px;
}